<div class="auth">
  <h1>Demo for Cogntio Authentication</h1>

  <h3><i class="fas fa-book-reader"></i> Google Drive Login </h3>
<div class="section">
    <p class="lead">Update yourself with google Drive</p>
</div>

<div class="sectionChrome">
    <label class="btn-danger" ngbButtonLabel (click)="navigateToDashboardG()">
      <h3>
        Login with Google

        <i class="fa fa-chrome"></i>
      </h3>
    </label>
</div>
&nbsp;&nbsp;
<h3><i class="fa fa-windows"></i> Office.Com Login </h3>
<div class="section">
    <p class="lead">Update yourself with office.com</p>
</div>

<div class="section">
    <label class="btn-primary" ngbButtonLabel (click)="navigateToDashboardM()">
      <h3><i class="fa fa-windows"></i> Log In With Microsoft</h3>
    </label>
</div>
</div>
